Source: nrn
Section: science
Priority: extra
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Build-Depends: debhelper (>= 7.0.50~),
			   autotools-dev, autoconf, automake,
 			   libmusic-dev, pvm-dev
Standards-Version: 3.9.1
Homepage: http://www.neuron.yale.edu
XS-Python-Version: current, >= 2.5
#Vcs-Git: git://git.debian.org/collab-maint/nrn.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nrn.git;a=summary

Package: neuron
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
		 libneuron0 (= ${binary:Version}),
		 neuron-common (= ${binary:Version})
Suggests: python-neuron
Description: NEURON simulator of neurons and networks
 TODO2

Package: neuron-common
Section: libs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NEURON simulator - common architecture independent files
 TODO2
 .
 This package provides architecture independent files used by NEURON.


Package: neuron-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libneuron0 (= ${binary:Version}),
         neuron (= ${binary:Version}),
Description: NEURON simulator - debugging symbols
 TODO2
 .
 This package provides debugging symbols for dynamic libraries and
 binaries of NEURON simulator.


Package: libneuron0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NEURON simulator - dynamic libraries
 TODO2
 .
 This package provides dynamic libraries of NEURON.


Package: libneuron-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libneuron0 (= ${binary:Version})
Description: NEURON simulator - development files
 TODO2
 .
 This package provides header files and static library.

Package: python-neuron
Section: python
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
         libneuron0 (= ${binary:Version})
Description: NEURON simulator - Python bindings
 TODO2
 .
 This package provides Python interface to NEURON.

Package: python-neuron-dbg
Section: debug
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends},
         python-neuron (= ${binary:Version})
Description: NEURON simulator - Python bindings
 TODO2
 .
 This package provides Python interface to NEURON.

# Package: neuron-doc
# Architecture: all
# Description: documentation for NEURON simulator
#  TODO2.
#  .
#  This package provides documentation files.
