#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
# export DH_OPTIONS



%:
	dh $@

# Override parameters for configure
#   --with-music necessary ATM to have CYTHON defined even for
#                just getting a source distribution out
#   --without-mpi  -- MPI builds should be done later on
override_dh_auto_configure:
	./build.sh
	NSRC=$$PWD dh_auto_configure -- \
	 --without-iv --with-nrnpython=/usr/bin/python --with-music=/usr \
	 --exec_prefix=/usr	--without-mpi

override_dh_auto_build:
	dh_auto_build
	dh_auto_build -Dsrc/neuronmusic --buildsystem=python_distutils
	dh_auto_build -Dsrc/nrnpython --buildsystem=python_distutils

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --destdir=debian/python-neuron -Dsrc/neuronmusic --buildsystem=python_distutils
	dh_auto_install --destdir=debian/python-neuron -Dsrc/nrnpython --buildsystem=python_distutils

#override_dh_auto_install:
#	dh_auto_install

# This compares against original source tree, not debian/tmp
#override_dh_install:
#	dh_install --list-missing

# TODO: more
override_dh_auto_clean:
	dh_auto_clean
	-make clean
	-make maintainer-clean		# since we are autogening everything
	-find -iname Makefile.in -delete # and those too
	-rm -r `arch`				# TODO per-arch
	-rm ylwrap aclocal.m4 depcomp missing install-sh ltmain.sh src/nrnoc/hocusr.h
	-rm configure config.* *.h.in
	-rm m4/ltsugar.m4 m4/ltversion.m4 m4/lt~obsolete.m4 m4/ltoptions.m4 m4/libtool.m4
