#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
# export DH_OPTIONS



%:
	dh $@

# Override parameters for configure
#   --with-music necessary ATM to have CYTHON defined even for
#                just getting a source distribution out
override_dh_auto_config:
	./build.sh
	NSRC=$$PWD dh_auto_configure -- \
	--without-iv --with-nrnpython=/usr/bin/python --with-music=/usr
